@import "./variables/colores.scss";
@import "./pages/index.scss";
@import "./menu_desplegable.scss";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.color_principal {
    color: $color-principal;
}

.color_base {
    color: white;
}

body {
    display: grid;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh 35vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    header {
        background-color: #a3bac3;
        display: flex;
        grid-area: header;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.3em;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        a {
            text-decoration: none;
            color: #006989;
        }

        #icono_header {
            height: 45px;
        }

        #flecha_menu {
            height: 17px;
        }

        #desktop {
            display: none;
        }
    }

    footer {
        background-color: #808d92;
        display: grid;
        grid-area: footer;
        height: 100%;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 35% 30% 35%;
        grid-template-areas:
        "icono_footer"
        "texto_footer"
        "iconos_redes";
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;

        a {
            color: white;
            text-decoration: none;
            font-size: 0.8em;
            text-align: center;
        }

        #icono_footer {
            grid-area: icono_footer;
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            a img {
                height: 90px; 
            }
        }

        #texto_footer {
            grid-area: texto_footer;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        #iconos_redes {
            display: flex;
            grid-area: iconos_redes;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            img {
                height: 30%;
            }
        }
    }
}
