@mixin tipo_borde($tipo: ''){
    @if $tipo == 'superior'{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    @if $tipo == 'inferior'{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@mixin btn_navegacion($tipo: '') {
    height: 36px;
    border: 2px solid $color-principal;
    border-radius: 14px;
    font-size: 0.8em;
    font-family: 'Josefin Sans';

    @if $tipo == 'turnos' {
        background-color: white;
        padding: 6px 22px 6px 22px;
        color: $color-principal;
    }
    @if $tipo == 'negocio' {
        background-color: $color-principal;
        padding: 6px 10px 6px 10px;
        color: $color-texto-blanco;
    }
}

@mixin height-width($h: auto, $w: auto) {
    height: $h;
    width: $w;
}