/* PAGINA FAQs */

#body_FAQs {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 160vh 35vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    #main_FAQs {
        display: grid;
        grid-area: main;
        @include height-width(100%, 100%);
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
        "preguntas_frecuentes"
        "consulta";
        justify-items: center;
        align-items: center;

        #cuerpo_preguntas_frecuntes {
            grid-area: preguntas_frecuentes;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 5% 95%;
            grid-template-areas: 
            "titulo_faqs"
            "pregutas_faqs";
            justify-items: center;
            @include height-width(90%, 90%);

            #titulo_FAQs {
                grid-area: titulo_faqs;
                width: 90%;
                text-align: center;
            }
            
            #preguntas_FAQs {  /* padre flex */
                grid-area: pregutas_faqs;
                display: block;
                @include height-width(100%, 100%);
                border-radius: 20px;
                overflow: scroll;

                .bloque_preguntas {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    background-color: white;
                    margin: 5% 0% 5% 0%;
                    border: 1px solid black;
                    border-radius: 20px;
                    height: auto;
                    width: 100%;
                    padding: 10px;
                    font-size: 1em;

                    h2 {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        
        #cuerpo_consultas {
            display: flex;
            flex-direction: column;
            grid-area: consulta;
            @include height-width(90%, 90%);
            background-color: #00698980;
            border-radius: 20px;

            h2 {
                display: block;
                position: relative;
                margin-top: 7%;
                margin-bottom: 2%;
                font-size: 1.7em;
                text-align: center;
                color: $color-texto-blanco;
            }

            form {
                display: flex;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding: 5% 5% 5% 5%;

                .entrada_info_consulta {
                    @include height-width(10%, 100%);
                    border: 1px solid white;
                    background-color: white;
                    padding-left: 5px;
                    text-align: center;
                    border-radius: 12px;
                }

                #entrada_info_consulta_motivo {
                    @include height-width(25%, 100%);
                    border: 1px solid white;
                    background-color: white;
                    padding-left: 5px;
                    text-align: center;
                    border-radius: 12px;
                }

                #boton_enviar_consulta {
                    @include height-width(10%, 100%);
                    background-color: #006989;
                    color: white;
                    border: none;
                    border-radius: 12px;
                    font-size: 1em;
                }
            }
        }
    }
}

@media (min-width: 1400px){
    #body_FAQs {
        grid-template-columns: 100%;
        grid-template-rows: 20vh 80vh 35vh;
        grid-template-areas: 
        "header"
        "main"
        "footer";

        #main_FAQs {
            grid-template-columns: 1.4fr 1fr;
            grid-template-rows: 100%;
            grid-template-areas:
            "preguntas_frecuentes consulta";

            #cuerpo_preguntas_frecuntes {
                grid-area: preguntas_frecuentes;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 12% 88%;
                grid-template-areas: 
                "titulo_faqs"
                "pregutas_faqs";
                justify-items: center;
                align-items: center;
                @include height-width(90%, 90%);

                #titulo_FAQs {
                    grid-area: titulo_faqs;
                    width: 90%;
                    text-align: center;
                }

            }
            
            #cuerpo_consultas {
                h2 {
                    margin-top: 5%;
                }

                form {
                    .entrada_info_consulta {
                        @include height-width(10%, 100%);
                        border: 1px solid white;
                        background-color: transparent;
                        padding-left: 5px;
                        text-align: center;
                        border-radius: 12px;
                        color: white;

                        &::placeholder {
                            color: $color-texto-blanco;
                        }

                        &:focus {
                            transition: background-color 0.1s ease;
                            background-color: white;
                            color: black;
                            outline: none;
                        }
                    }

                    #entrada_info_consulta_motivo {
                        @include height-width(25%, 100%);
                        border: 1px solid white;
                        background-color: transparent;
                        padding-left: 5px;
                        text-align: center;
                        border-radius: 12px;

                        &::placeholder {
                            color: white;
                        }

                        &:focus {
                            transition: background-color 0.1s ease;
                            background-color: white;
                            color: black;
                            outline: none;
                        }
                    }

                    
                    #boton_enviar_consulta {
                        @include height-width(7%, 30%);
                        &:hover {
                            cursor: pointer;
                            transition: background-color 0.2s ease;
                            background-color: white;
                            color: black;
                        }

                        &:active {
                            transition: transform 0.1s ease;
                            transform: scale(1.05);
                        }
                    }
                }
            } 
        }
    }
}