main#como_funciona {
    display: grid;
    @include height-width(100%, 100%);
    overflow: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "foto"
    "txt1"
    "txt2"
    "txt3"
    "txt4"
    "txt5"
    "txt6";
    padding: 5%;

    h1 {
        margin-bottom: 5%;
        text-align: center;
    }

    h3 {
        margin-bottom: 5%;
        text-align: center;
    }

    #seccion_foto {
        grid-area: foto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        #imagen_index {
            @include height-width(70%, 70%);
        }
    }

    @for $i from 1 through 6 {
        #sub-seccion_#{$i} {
            grid-area: txt#{$i};
            margin-bottom: 15%;
            text-align: justify;
        }
    }
}