main#como_funciona {
    display: grid;
    @include height-width(100%, 100%);
    overflow: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "foto"
    "txt1"
    "card1"
    "card2"
    "card3"
    "card4"
    "txt2";
    justify-items: center;
    row-gap: 5%;
    padding: 5%;

    h1 {
        margin-bottom: 5%;
        text-align: center;
    }

    #seccion_foto {
        grid-area: foto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        #imagen_index {
            @include height-width(70%, 70%);
        }
    }

    #sub-seccion_1 {
        grid-area: txt1;
        text-align: justify;
    }

    #sub-seccion_2 {
        grid-area: txt2;
        text-align: justify;
    }

    @for $i from 1 through 4 {
        #card_seccion_#{$i} {
            grid-area: card#{$i};
            width: auto;
        }
    }
}