#main_mi_negocio {
    grid-area: main;
    position: relative;
    @include height-width(80vh, 100%);
    overflow: hidden;

    #checkbox_mi_negocio {
        display: none;

        &:checked + #contenedor_secciones {
            transform: translateX(0%);
        }
    }
    
    #checkbox_registro {
        display: none;

        &:checked + #checkbox_mi_negocio + #contenedor_secciones {
            transform: translate(-66.6666%);
        }
    }

    #contenedor_secciones {
        display: flex;
        flex-direction: row;
        position: relative;
        @include height-width(100%, 300%);
        transition: transform 0.4s;
        transform: translateX(-33.3333%);

        #seccion_incio_sesion_mi_negocio {
            position: relative;
            display: grid;
            @include height-width(100%, 100%);
            grid-template-columns: 2fr 10fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas: "nada inicio_sesion nada_2";
            align-items: center;

            form {
                @include height-width(60%, 100%);
                background-color: #00698975;
                grid-area: inicio_sesion;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                border-radius: 12px;
                padding: 10%;

                h2 {
                    color: white;
                    position: relative;
                    font-size: 1.7em;
                }

                .entrada_datos_inicio_sesion {
                    text-align: center;
                    @include height-width(12%, 100%);
                    border: 1px solid white;
                    border-radius: 10px;
                }

                div {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;

                    a {
                        color: white;
                        width: 50%;
                        font-size: 0.7em;
                    }

                    input {
                        border: 1px solid white;
                        border-radius: 10px;
                        padding: 7px;
                    }
                }
            }

            label {
                grid-area: inicio_sesion;
                display: flex;
                position: relative;
                top: 40%;
                justify-content: center;

                figure {
                    @include height-width(100%, 100%);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 60px;
                    }
                }
            }
        }

        #seccion_principal_mi_negocio {
            position: relative;
            display: flex;
            @include height-width(100%, 100%);
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            #btn_mi_negocio {
                border: 2px solid #006989;
                border-radius: 12px;
                padding: 12px;
                font-size: 1.5em;
            }
            
            #btn_registrarse {
                border: 2px solid #006989;
                border-radius: 12px;
                padding: 12px;
                background-color: #006989;
                color: white;
                font-size: 1.5em;
            }
        }

        #seccion_registro_mi_negocio {
            display: flex;
            @include height-width(100%, 100%);
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 1400px){
    #main_mi_negocio {
        grid-area: main;
        position: relative;
        @include height-width(80vh, 100%);
        overflow: hidden;
        padding: 4%;

        #checkbox_registro {
            &:checked + #checkbox_mi_negocio + #contenedor_secciones {
                transform: translate(0%);
            }
        }

        #contenedor_secciones {
            background-color: #00698975;
            border-radius: 18px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "iniciar_sesionn registrarsee";
            position: relative;
            @include height-width(100%, 100%);
            transform: translateX(0%);

            #seccion_incio_sesion_mi_negocio {
                position: relative;
                grid-area: iniciar_sesionn;
                display: grid;
                grid-template-columns: 2fr 10fr 2fr;
                grid-template-rows: 1fr;
                grid-template-areas: "nada inicio_sesion nada_2";
                align-items: center;
                @include height-width(100%, 100%);

                form {
                    background-color: transparent;
                    grid-area: inicio_sesion;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 12px;
                    padding: 10%;
                    @include height-width(60%, 100%);

                    h2 {
                        color: white;
                        position: relative;
                        font-size: 1.7em;
                    }

                    .entrada_datos_inicio_sesion {
                        text-align: center;
                        @include height-width(12%, 100%);
                        border: 1px solid white;
                        border-radius: 10px;
                        outline-color: #00698979;
                    }

                    div {
                        a {
                            color: white;
                            width: 50%;
                            font-size: 1em;
                            cursor: pointer;

                            &:active {
                                transform: scale(0.95);
                                transition: transform 0.2s ease;
                                color: whitesmoke;
                            }
                        }

                        input {
                            border: 1px solid rgba(255, 255, 255, 0.356);
                            border-radius: 10px;
                            padding: 7px;
                            cursor: pointer;

                            &:hover {
                                background-color: #0069896b;
                                color: white;
                                transition: background-color 0.2s ease;
                            }

                            &:active {
                                transform: scale(0.95);
                                transition: transform 0.2s ease;
                            }
                        }
                    }
                }

                label {
                    display: none;

                    figure {
                        display: none;
                    }
                }
            }

            #seccion_principal_mi_negocio {
                grid-area: registrarsee;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                @include height-width(100%, 100%);

                #btn_mi_negocio {
                    display: none;
                }

                #btn_registrarse {
                    border: 2px solid #006989;
                    border-radius: 12px;
                    padding: 12px;
                    background-color: #006989;
                    color: white;
                    font-size: 1.5em;

                    &:hover {
                        background-color: white;
                        transition: background-color 0.2s ease;
                        color: #006989;
                    }

                    &:active {
                        transform: scale(0.95);
                        transition: transform 0.2s ease;
                    }
                }
            }

            #seccion_registro_mi_negocio {
                display: none;
            }
        }
    }
}