#main_sobre_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    iframe {
        display: flex;
        grid-area: texto;
        @include height-width(50%, 90%);
        border-radius: 20px;    
    }
}

@media (min-width: 768px){
    #main_sobre_nosotros {
        iframe {
            display: flex;
            grid-area: texto;
            @include height-width(60%, 80%);
        }
    }
}

@media (min-width: 1400px){
    #main_sobre_nosotros {
        iframe {
            display: flex;
            grid-area: texto;
            @include height-width(80%, 80%);
        }
    }
}