#main_sobre_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    iframe {
        display: flex;
        grid-area: texto;
        height: 50%;
        width: 90%;
        border-radius: 20px;    
    }
}

@media (min-width: 768px){
    #main_sobre_nosotros {
        iframe {
            display: flex;
            grid-area: texto;
            height: 60%;
            width: 80%;
        }
    }
}

@media (min-width: 1400px){
    #main_sobre_nosotros {
        iframe {
            display: flex;
            grid-area: texto;
            height: 80%;
            width: 80%;
        }
    }
}