/* PAGINA COMO FUNCIONA */

main#como_funciona {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: scroll;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "foto"
    "txt1"
    "txt2"
    "txt3"
    "txt4"
    "txt5"
    "txt6";
    padding: 5%;
}

#seccion_foto {
    grid-area: foto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#imagen_index {
    height: 70%;
    width: 70%;
}

#sub-seccion_1 {
    grid-area: txt1;
    margin-bottom: 15%;
    text-align: justify;
}

#sub-seccion_1 h1 {
    margin-bottom: 5%;
    text-align: center;
}

#sub-seccion_2 {
    grid-area: txt2;
    margin-bottom: 15%;
    text-align: justify;
}

#sub-seccion_3 {
    grid-area: txt3;
    margin-bottom: 15%;
    text-align: justify;
}

#sub-seccion_4 {
    grid-area: txt4;
    margin-bottom: 15%;
    text-align: justify;
}

#sub-seccion_5 {
    grid-area: txt5;
    margin-bottom: 15%;
    text-align: justify;
}

#sub-seccion_6 {
    grid-area: txt6;
    margin-bottom: 15%;
    text-align: justify;
}

main#como_funciona h3 {
    margin-bottom: 5%;
    text-align: center;
}

@media (min-width: 768px){
    #sub-seccion_1 {
        grid-area: txt1;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_1 h1 {
        margin-bottom: 2%;
        text-align: center;
    }
    
    #sub-seccion_2 {
        grid-area: txt2;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_3 {
        grid-area: txt3;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_4 {
        grid-area: txt4;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_5 {
        grid-area: txt5;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_6 {
        grid-area: txt6;
        margin-bottom: 5%;
        text-align: justify;
    }

    main#como_funciona h3 {
        margin-bottom: 2%;
        text-align: center;
    }
}


@media (min-width: 1400px){
    main#como_funciona {
        display: grid;
        width: 100%;
        height: 100%;
        overflow: scroll;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "foto txt1"
        "txt2 txt2"
        "txt3 txt3"
        "txt4 txt4"
        "txt5 txt5"
        "txt6 txt6";
        padding: 2%;
        font-size: 1.4em;
    }

    #seccion_foto {
        grid-area: foto;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #imagen_index {
        height: 70%;
        width: 70%;
    }
    
    #sub-seccion_1 {
        grid-area: txt1;
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
    
    #sub-seccion_1 h1 {
        margin-bottom: 2%;
        text-align: center;
    }
    
    #sub-seccion_2 {
        grid-area: txt2;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_3 {
        grid-area: txt3;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_4 {
        grid-area: txt4;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_5 {
        grid-area: txt5;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    #sub-seccion_6 {
        grid-area: txt6;
        margin-bottom: 5%;
        text-align: justify;
    }
    
    main#como_funciona h3 {
        margin-bottom: 2%;
        text-align: center;
    }

}